body {
	background-image: url(images/6.jpg);
	background-size: 100%;
}



div {
	text-align: center;
	}
	

#video12 {
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 75%;
}
#video12 iframe {

  width: 1000px;
  height: 800px;
}
#video12 div {
  position: absolute;
  bottom: -110px;
  width: 100%;
  height: 100px;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
}