body {
	background-image: url(images/6.jpg);
	background-size: 100%;
}



div {
	text-align: center;
	font-family: arial, colibri;
	}
	
div h2 {
	color: #0044FF;
}	

div p {
	color: #0044FF;
}	

iframe {
	width: 1000px;
	height: 900px;
	margin-left: 280px;
	margin-top: 100px;
	margin-bottom: 100px;
}
