body {
	background-image: url(..images/6.jpg);
	background-size: 100%;
}




div {
	text-align: center;
	}
	

.volna img {
	width: 100%;
	margin-bottom:-20px;
}

.footer-bg {
	background-color: #385E9F;
	
}

.copyright p {
  margin: 0 0 5px 170px; 
  padding-bottom: 10px;
  font-size: 12px;
  color: white;
}
