body {
	background-image: url(images/6.jpg);
	background-size: 100%;
}

h1 {
	color: #0085F1;
	font-family: fantasy;
	font-size: 35px;
}

div {
	text-align: center;
}
table {
	border-color: none;
	margin-left: 350px;
	font-size: 25px;
	color: #0085F1;
	font-family: fantasy;
}


.volna img { /*картинка подвала*/
	width: 100%;
	margin-bottom:-20px;
}

.footer-bg { /*фон подвала*/
	background-color: #385E9F;
	
}

.copyright p { /*надпись подвала*/
  margin: 0 0 5px 170px; 
  padding-bottom: 10px;
  font-size: 12px;
  color: white;
}
