body {
	background-image: url(images/6.jpg);
	background-size: 100%;
}



div {
	text-align: center;
	padding-bottom: 4%;
	font-family: arial, colibri;
	}
	
div h2 {
	color: #0044FF;
}	

div p {
	color: #0044FF;
}	


#video12 {
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 5%;
}
#video12 iframe {

  width: 1000px;
  height: 800px;
}
#video12 div {
  position: absolute;
  bottom: -110px;
  width: 100%;
  height: 100px;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
}


.volna img { /*картинка подвала*/
	width: 100%;
	margin-bottom:-20px;
}

.footer-bg { /*фон подвала*/
	background-color: #385E9F;
	
}

.copyright p { /*надпись подвала*/
  margin: 0 0 5px 170px; 
  padding-bottom: 10px;
  font-size: 12px;
  color: white;
}
