 {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
}
body { /*это для фона на странице*/
 background-image:url("../images/back.jpg"); 
	background-size: 100%;
}
   .outline { /*служит для границы вокруг текстового блока*/
    border: 3px solid red;
    padding: 0 10px;
	text-align: center
   }
#mainmenu { /*тестовое меню*/
background: #E27704;
position: relative;
overflow:hidden;
height:40px;
margin:30px 0
}
#mainmenu ul {/*тестовое меню*/
list-style:none;
margin:0;
padding:0;
position: relative;
left:50%;
float:left;
font:14px Arial, Helvetica, sans-serif;
height:40px
}
#mainmenu ul li {/*тестовое меню*/
position:relative;
left:-50%;
float:left;
margin:0 10px;
height:40px
}
#mainmenu ul li a {/*тестовое меню*/
color: #000000;
display:block;
text-decoration:none;
padding:0 15px;
line-height: 40px;
}
#mainmenu ul li a:hover {/*тестовое меню*/
background-color: #1FE263; 
}

.pic { /*флеш-игра*/
	width: 300px;
	height: 300px;
	border-color: #14C4FF;
	border-style: solid;
	border-radius: 20px;
}

.pic:hover { /*флеш-игра*/
	border-color: #F7FF14;
	
}


.volna img { /*картинка подвала*/
	width: 100%;
	margin-bottom:-20px;
}

.footer-bg { /*фон подвала*/
	background-color: #385E9F;
	
}

.copyright p { /*надпись подвала*/
  margin: 0 0 5px 170px; 
  padding-bottom: 10px;
  font-size: 12px;
  color: white;
}
